{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="jumbotron">
    {{#if @site.cover_image}}
        <img class="jumbo-cover"
            srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            sizes="100vw"
            src="{{img_url @site.cover_image size="xl"}}"
            alt="{{@site.title}}"
        />
    {{/if}}
    <div class="jumbo-container">
        {{#if @site.logo}}
            <img class="jumbo-logo" src="{{@site.logo}}" alt="{{@site.title}}">
        {{/if}}
        <h1 class="jumbo-title">{{@site.title}}</h1>
        {{#if @site.description}}
            <p class="jumbo-description">{{@site.description}}</p>
        {{/if}}
    </div>
</div>
{{#get "pages"}}
{{#foreach pages}}
<div class="container-fluid {{body_class}}">
    <div class="row">
        {{#if feature_image}}
            <div class="col-6">
                <img class="img-fluid"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url feature_image size="m"}}"
                alt="{{feature_image_alt}}"
                />
            </div>
            <div class="col-6">
        {{else}}
            <div class="col-12">
        {{/if}}
                <h2>{{title}}</h2>
                <div class="content">
                    {{{content}}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/foreach}}
{{/get}}
<div class="container">
    <h2>Latest Posts</h2>
    <div class="card-group">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</div>