{{!< default}}
{{#tag}}
    {{#get "pages" filter="slug:{{slug}}+primary_tag:{{slug}}" limit="1"}}
        {{#foreach pages}}
            {{>jumbotron}}
            <section class="container my-4 gh-content">
                {{content}}
            </section>
        {{/foreach}}
    {{else}}
        {{>jumbotron}}
    {{/get}}
        {{#get "pages" filter="primary_tag:{{slug}}+slug:-{{slug}}"}}
        <div class="container">
            <div class="card-group card-group-vertical">
                {{#foreach pages}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
        </div>
        {{/get}}
{{/tag}}

<p>{{title}}</p>
<div class="container">
    <div class="card-group">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</div>
